@import 'utils';

.AuthForm {
    display: flex;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .FormWrapper {
        margin: 0 auto;
        width: 625px;
        padding: 3rem;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        @include material-shadow(3, 0.5);

        &:hover {
            @include material-shadow(3, 1.5);
        }


        .Logo {
            background: $oc-gray-7;
            display: flex;
            justify-content: center;
            align-items: center;

            color: white;
            font-size: 1.5rem;
            font-weight: 700;

            height: 4rem;
        }
    }
}