@import 'utils';

.Header {
    height: 5rem;
    background: $oc-gray-8;

    display: flex;
    align-items: center;
    justify-content: center;

    .CenterWrapper {
        display: flex;
        flex: 1;
        padding-left: 2rem;
        padding-right: 2rem;
        // justify-content: center;
        justify-content: space-between;

        @include media("<=medium") {
            padding: 1rem;
        }

        .Left-Zone {
            width: 8rem;

            @include media("<=medium") {
                width: 0rem;
            }
        }
        .Logo {
            // margin: 0 auto;
            flex: 1;
            text-align: center;
            color: white;
            font-size: 1.5rem;
            font-weight: 800;

            @include media("<=medium") {
                text-align: left;
            }
        }
        .Right-Zone {
            display: flex;
            align-items: center;
            width: 8rem;
            flex-direction: row-reverse;

            .ButtonMenu {
                @include media("<=medium") {
                    display: none;
                }
                
            }
        }
        
    }
    
}