@import 'utils';

.WriteBoxWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0 auto;
    
    // width: 50%;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    .Textarea {
        margin: 0 auto;
        border: 3px solid $oc-gray-8;
        outline: none;
        background: white;
        resize: none;
        width: 80%;
        font-size: 1.5rem;
        padding: 0.25rem;
        border-radius: 2px;

        @include material-shadow(3, 0.5);
    }

    .ButtonWrapper {
        display: flex;
        flex-direction: row-reverse;
        width: 80%;
        margin-top: 1rem;
    }
}